@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Chapeau.Models.Order>

<h2>Open Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Table Number</th>
            <th>Order Time</th>
            <th>Is Served</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.Table.TableNumber</td>
                <td>@order.OrderTime.ToString("g")</td>
                <td>@(order.IsServed ? "Yes" : "No")</td>
                <td>
                    <a asp-controller="Orders" asp-action="Details" asp-route-id="@order.OrderID" class="btn btn-primary btn-sm">View Order</a>
                    <a asp-controller="Payments" asp-action="Create" asp-route-orderId="@order.OrderID" class="btn btn-success btn-sm">Finish Order</a>
                    <a href="/Payment/CompletePayment?orderId=@order.OrderID" class="btn btn-success">Pay</a>

                </td>
            </tr>
        }
    </tbody>
</table>



