@model List<Chapeau.Models.MenuItem>


    <<form method="get" asp-controller="MenuItem" asp-action="Index" class="mb-3">
    <div class="d-flex gap-3">
        <div style="width: 150px;">
        <!-- Card Filter -->
        <select name="card" id="selectedCard" class="form-select" style=" width: auto;" onchange="this.form.submit()">
            <!-- onchange = dropdown -->

            <option value="">-- All Cards --</option>
            @foreach (MenuCard card in ViewBag.Cards)
            {
                <option value="@card" selected="@(ViewBag.SelectedCard != null && card.Equals(ViewBag.SelectedCard) ? "selected" : null)">
                    @card
                </option>
            }
        </select>
        </div>

        <!-- Category Filter -->
        <div style="width: 150px;">
        <select name="category" id="selectedCategory" class="form-select" style=" width: auto;" onchange="this.form.submit()">
            <option value="">-- All Categories --</option>
            @foreach (MenuCategory category in ViewBag.Categories)
            {
                <option value="@category" selected="@(ViewBag.SelectedCategory != null && category.Equals(ViewBag.SelectedCategory) ? "selected" : null)">
                    @category
                </option>
            }
        </select>
        </div>
    </div>
</form>


<h2>Menu Items</h2>



<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item_name</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString("C")</td> 
                <td>@item.Category</td>
                <td>
                    @{
                        string message;
                        string color;

                        if (item.StockQuantity == 0)
                        {
                            message = "Out of stock";
                            color = "red";
                        }
                        else if (item.StockQuantity <= 10)
                        {
                            message = $"Low ({item.StockQuantity})";
                            color = "orange";
                        }
                        else
                        {
                            message = $"In stock ({item.StockQuantity})";
                            color = "green";
                        }
                    }

                    <span style="color:@color;">@message</span>
                </td>
            </tr>
        }
    </tbody>
</table>