@model Chapeau.ViewModels.RunningOrdersViewModel


@{
    ViewData["Title"] = "RunningOrders";
}

<h2>Orders</h2>

<button type="button" class="btn btn-outline-primary" asp-action="Index">Refresh</button>

<div class="col-6">
    <form asp-action="GetBarOrdersByStatus" method="get">
        <div class="form-group">
            <label for="type">Filter by status:</label>
            <select class="form-control" id="type" name="status">
                <option value="All">All</option>
                <option value="New">New</option>
                <option value="InProgress">In Progress</option>
                <option value="Ready">Ready</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
</div>

<h3>New</h3>
@{
    foreach (Order order in Model.Orders)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@order.Employee.employeeName</h5>
                <p class="card-text">time</p>
                <p class="card-text">@order.Table.TableNumber</p>
                <ul class="list-group list-group-flush">
                    @{
                        foreach (OrderItem orderItem in order.OrderItems)
                        {
                            if (orderItem.Status == Status.New)
                            {
                                <li class="list-group-item">@orderItem.MenuItem.Item_name<button asp-action="ChangeOrderStatus" class="btn btn-primary">Prepare</button></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    }
}

<h3>In progress</h3>
@{
    foreach (Order order in Model.Orders)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@order.Employee.employeeName</h5>
                <p class="card-text">time</p>
                <p class="card-text">@order.Table.TableNumber</p>
                <ul class="list-group list-group-flush">
                    @{
                        foreach (OrderItem orderItem in order.OrderItems)
                        {
                            if (orderItem.Status == Status.InProgress)
                            {
                                <li class="list-group-item">@orderItem.MenuItem.Item_name<button asp-action="ChangeOrderStatus" class="btn btn-primary">Completed</button></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    }
}
<h3>Ready</h3>
@{
    foreach (Order order in Model.Orders)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@order.Employee.employeeName</h5>
                <p class="card-text">time</p>
                <p class="card-text">@order.Table.TableNumber</p>
                <ul class="list-group list-group-flush">
                    @{
                        foreach (OrderItem orderItem in order.OrderItems)
                        {
                            if (orderItem.Status == Status.Ready)
                            {
                                <li class="list-group-item">@orderItem.MenuItem.Item_name<button asp-action="ChangeOrderStatus" class="btn btn-primary">Close</button></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    }
}